<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body},'tierArzt')}">
<head>
    <meta charset="UTF-8">
    <title>Liste der Veterinäre</title>
</head>
<body>
<!--/*@thymesVar id="arzt" type="konglomerat.krankenhaus.kiratierklinik.model.TierArzt"*/-->
<h2>Veterinäre</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="arzt : ${tierArzt}">
        <td th:text="${arzt.vorName + ' ' + arzt.nachName}"></td>
        <td><span th:each="fachGebiet : ${arzt.fachgebiete}"
                  th:text="${fachGebiet.beschreibung + ' '}" /> <span
                th:if="${arzt?.fachgebiete?.size() == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>

